.header
{
    padding: 15px;			
}
.header_email, .header_job
{
    color: rgb(194, 118, 118); 
    font-size: 15px;
}

.header_email:hover, .header_job:hover
{
	background-color: rgb(127, 127, 127, 127);
	display: inline-block;
	color: rgb(255, 255, 255);
}
.background_prog_good:hover
{
	background-color: rgb(127, 127, 127, 127);
	display: inline-block;
	color: rgb(221, 33, 33);
}
.background_prog_avg:hover
{
	background-color: rgb(127, 127, 127, 127);
	display: inline-block;
	color: rgb(124, 57, 57);
}


.navigation
{
    float: left;
    padding: 15px;
    text-decoration: underline;
	width: 170px;
}

.introduction
{
    float: left;
    padding-left: 5px;
	width: 850px;
}

.code_view
{
	height: 400px; 
	overflow: scroll;
}
