.header
{
	display: block;
    padding: 15px 0 0 15px;	
	width: 100%;
	height: 250px;	
}
.header_email, .header_job
{
    color: rgb(194, 118, 118); 
    font-size: 15px;
}

.header_email:hover, .header_job:hover
{
	background-color: rgb(127, 127, 127, 127);
	display: inline-block;
	color: rgb(255, 255, 255);
}
.background_prog_good:hover
{
	background-color: rgb(127, 127, 127, 127);
	display: inline-block;
	color: rgb(221, 33, 33);
}
.background_prog_avg:hover
{
	background-color: rgb(127, 127, 127, 127);
	display: inline-block;
	color: rgb(124, 57, 57);
}


.navigation
{
	display: block;
    float: left;
    padding-top: 15px;
    text-decoration: underline;
	width: 270px;
	clear: both;
}

.introduction
{
	display: block;
    float: left;
    padding-left: 15px;
	width: 900px;
}

.code_view
{
	height: 400px; 
	overflow: scroll;
}
